@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dataEntryForm {
  margin: 5% 10% 10%;
  width: 80%;
}
.inputField, select {
  width: 300px;
  padding: 3px;
  border: 1.5px solid #AEB3B7;
  border-radius: 5px;
}
.idSection {
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 10px;
}
.flex-label {
  margin: 10px 30px 10px 0px;
}
.inputGroupTitle {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
}

.halfwayInput {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.addressSection {
  display: inline-block;
}
.propertiesSection {
  display: inline-block;
  vertical-align: top;
  margin-left: 40%;
  width: 250px;
}
.checkbox-label {
  display: block;
  width: 250px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.checkbox-title{
  width: 50%;
}
.checkbox {
  float: right;
  margin-top: 10px;
}
.action-btns {
  display: block;
  margin-top: 30px;
}
.cta-btns {
  width: 150px;
  padding: 5px 25px;
  border-radius: 5px;
  font-weight: 400;
}
.save-btn {
  background-color: #339C2A;
  color: #fff;
  margin-left: 30%;
}
.reset-btn {
  border: 1.5px solid #339C2A;
  padding: 4px 25px;
  color: #339C2A;
  margin-left: 40px;
}

.nav-bar {
  display: block;
  margin: 0 10%;
  width: 75%;
  height: 60px;
}
.nav-logo {
  width: 20%;
}
.nav-tabs {
  display: inline-block;
  margin-left: 20%;
}
.nav-btn {
  margin-left: 50px;
  display: inline-block;
  color: #047D95;
  
}
.nav-logo, .nav-btn {
  margin-top: 15px;
}
.nav-btn:hover {
  border-bottom: 1.5px solid #047D95;
}
.nav-logout-btn {
  margin-left: 200px;
  background-color: #339C2A;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  outline: none;
}

.nav-logout-btn:hover {

  color: rgb(0, 0, 0);
  background-color: #339C2A;

}


@media only screen and (max-width: 1250px) {
  .dataEntryForm {
    margin: 10% 20% 20%;
    width: 80%;
  }
  .flex-label {
    margin-right: 10%;
  }
  .propertiesSection {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 838px) {
  .dataEntryForm {
    margin: 10% 20% 20%;
    width: 60%;
  }
  
}

@media only screen and (max-width: 838px) {

  .flex-label {
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
  .inputField, select {
    width: 100%;
    height: 50px;
  }
  .addressSection {
    display: block;
  }
  .propertiesSection {
    display: block;
    margin-left: 0px;
    width: 100%;
  }
  .cta-btns {
    width: 100%;
  }
  .save-btn, .reset-btn  {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    height: 50px;
  }
  .checkbox-label {
    width: 100%;
  }

}
@media  only screen and (max-width: 480px) {
  .dataEntryForm {
    margin: 5%;
    width: 90%;
  }
}
